<div class="form-container">
    <form #journalForm="ngForm" (ngSubmit)="onSubmit(journalForm)">
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input type="text" name="date" [ngModel]="journal.date" required class="input">
            </div>
        </div>
        <br>
        <div class="field">
            <label class="label">Body</label>
            <div class="control">
                <textarea name="body" [ngModel]="journal.body" class="textarea"></textarea>
            </div>
        </div>

        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" (click)="cancel()" type="button">Cancel</button>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit" [disabled]="!journalForm.valid">Save</button>
            </div>
        </div>

    </form>
</div>
