<div class="main-container">
    <div class="searchbar">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="journal-list">
        <app-journal-card 
        *ngFor="let journal of journals; index as i" 
        [link]="i"
        [@itemAnim]
        (delete)="deleteJournal(i)"
        [title]="journal.date" 
        [body]="journal.body"></app-journal-card>
    </div>

    <button class="button floating-add-button is-primary" routerLink="new">+ Add</button>
</div>