<div class="main-container">
    <div class="searchbar">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>

    <div class="journal-list">
        <app-journal-card [title]="'JOURNAL TITLE'" [body]="'THIS IS THE BODY'"></app-journal-card>
        <app-journal-card></app-journal-card>
        <app-journal-card></app-journal-card>
    </div>
</div>